<h1 style="height: 10px;"></h1>
<h1><div class="font">Friend Form</div></h1>
<form [formGroup]="friendForm">
  <div *ngIf="!isFriendAdded">
    <div class="field">
      <select id = "term">
        <option value = "2564-1"><div class="font">2564-1</div></option>
        <option value = "2564-2"><div class="font">2564-2</div></option>
    </select>
    </div>


    <div *ngIf="!editFriend" >
      <button class="button is-success" [disabled]="friendForm.invalid" type="submit" (click)="addFriend()"><div class="font">เพิ่มวิชาเรียน</div></button>
    </div>

  </div>

  <div *ngIf="isFriendAdded">
    <h3>New Friend added...</h3>
      <button class="button is-success" (click)="newFriendAdded()"> + Add more friend</button>
  </div>

</form>

<table>
  <thead>
    <tr>
      <th>#</th><th>รหัสวิชา</th><th>ชื่อวิชา</th><th>ตอนเรียน</th><th>ปีการศึกษา</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let f of friends">
      <td>{{ f.id }} </td>
      <td><b> {{ f.name }} </b></td>
      <td>{{ f.email }} </td>
      <td>{{ f.age }} </td>
      <td>
        <!-- <button type="button" class="button is-danger" routerLink="/friends/{{ f.id }}">Edit</button> -->
        <button type="button" class="button is-danger" (click)="updateFriendClick(f.id)">Edit</button>
        <button type="button" class="button is-warning" (click)="deleteFriend(f.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>


